{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="titulo-acerca">
        <h2>JAGUARETE</h2>
    </div>
    <div class="imagen-acerca">
    </div>
    <div class="texto-acerca">
    <p>Somos una división de tiendas por departamentos con más de 35 años de trayectoria en el mercado Venezolano. Actualmente contamos con 46 sucursales ubicadas en todo el país. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae aut, sunt vero iusto quia earum delectus minima accusamus ipsam repellat saepe dolore? Amet tempore cumque similique incidunt velit omnis perspiciatis.

    </p>
</div>
</div>
{% endblock content %}
