{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="titulo-acerca">
            <h2>{{cats}}</h2>
        </div>
    {% for product in category_foods  %}
    <div class="prueba">
    <div class="col-lg-4 mx-auto">
    <img class="thumbnail" src="{{product.img.url}}" alt="">
    <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <div class="description">
        <p>{{product.description}}</p>
    </div>
    {% if not perms.store.car %}
        {% if user.is_authenticated %}
            <button data-product={{product.id}} data-action="add" class="btn btn-warning add-btn update-car">Agregar al carrito</button>
            <a href="{% url 'product_details' product.id %}" class="btn btn-primary">Ver más</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-warning">Agregar al carrito</a>
        <a href="{% url 'login' %}" class="btn btn-primary">Ver más</a>
        {% endif %}
        <div class="precio">
            <span>${{product.price | floatformat:2}}</span>
        </div>
    {% endif %}    
    </div>
    </div>
</div>
    {% endfor %}
</div>
<div class="margin-footer">
    
</div>
{% endblock content %}
