{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto">
{% if searched %}
    <div class="titulo-acerca">
    <h2>Lista de productos: {{searched}}</h2>
    </div>

    <div class="row">

        {% for product in search %}
        <div class="col-lg-4 mx-auto">
            <img class="thumbnail" src="{{product.img.url}}" alt="">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <div class="description">
                <p>{{product.description}}</p>
            </div>
                <button data-product={{product.id}} data-action="add" class="btn btn-warning add-btn update-car">Agregar al carrito</button>
                <a href="#" class="btn btn-primary">Ver más</a>
                <span>${{product.price | floatformat:2}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% else %}
<p>Lo sentimos, no tenemos ese producto</p>
{% endif %}    
{% endblock content %}

